.thirdbannergrouping {
  width: 100%;
  height: 264px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  .third-banner-grouping {
    width: 92%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .thirdbannergroupingimage {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 10px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
